PROJECT_NAME=Drone delivery management APIs
DEBUG=True

# PostgreSQL defaults
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=app
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

#PgAdmin defaults
PGADMIN_DEFAULT_EMAIL=admin@resal.me
PGADMIN_DEFAULT_PASSWORD=changeme


SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60